.imgContainer{
    /* float:left; */
    margin: 0;
    padding:4em;
    display: inline-block;
}
.skills-box {
    border-bottom: 0px solid rgba(250,250,250,0.1);
    height:auto;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
/*=== Trigger  ===*/
.animate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/*=== Animations start here  ===*/
/*=== FADE IN  ===*/
/* @-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}
  
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

/*=== Optional Delays, change values here  ===*/
/* .one {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
} */
